div {
    float: left;
    margin: 100px;
    padding: 50px;
    border: 8px solid darkorange;
    border-radius: 8px;
    width: 20%;
}

body {
    background-color: lightskyblue;
    margin: 100px;
    font-family: sans-serif;

}

header {
    text-align: center;
    color: goldenrod;
    background-color: azure;
    padding: 20px;
    border-radius: 8px;
}

table {
    color: darkcyan;
    padding: 20px;
    line-height: 30px;
}

h3 {
    border-radius: 5px;
    color: white;
    background-color: darkgreen;
    padding: 10px;
    
}